.opt-5.checkout-index-index .fieldset.address .field.phone-region+.field[name$="telephone"] .label, .checkout-index-index .fieldset.address ._double+._double .label {
	left: 12px; 
}

.opt-showinformation.opt-5 .payment-method-billing-address .billing-address-details {
  	display: block;
  	padding-left: 0;
}

.opt-5 .checkout-payment-method .payment-method-billing-address .billing-address-details .action-edit-address {
    color: #fff;
    border-color: #0063ba;
    background-color: #0063ba;
}

.opt-5 .checkout-payment-method .payment-method-billing-address .billing-address-details .action-edit-address:hover {
    border-color: #0063ba;
    color: #0063ba;
    background-color: #fff;
}

/** GLOBAL CSS **/
.opt-removeerror .braintree-hosted-fields-invalid {
   display: none !important;
 visibility: hidden !important;
}
.opt-underline {
  text-decoration: underline;
}

.opt-textright {
  text-align: right;
  float: right;
}

.opt-Tick .opt-title {
  position: relative;
}

.opt-5 .footer>.footer-block {
  display: none;
}

.opt-5 .opt-email-error {
  color: #fb0103;
  font-family: 'ProximaNova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin-top: 15px;
  font-weight: bold;
}

.opt-5 .footer>.footer-info {
  padding-top: 20px;
  padding-bottom: 20px;
}

.opt-5 .header-item.menu._left {
  display: none;
}

.opt-5 .opt-noneselected {
   margin-top: 20px;   
   color: #fb0103;
   margin-bottom: -10px;
}

.opt-5 .payment-method button[data-bind="click: cancelAddressEdit"] {
  display: none;
}

/*
.opt-step-container.opt-initial .opt-Tick .opt-title:after {
   content: '';
   position: absolute;
   width: 5px;
   height: 10px;
   top: 50%;
   margin-top: -5px;
   margin-left: 10px;
   transform: translateY(-50%)rotate(45deg);
   ;
   border: solid #0263BA;
   border-width: 0 2px 2px 0;
}*/
body:not(.opt-editcartclick) .opt-modal .opt-hide {
   display: contents;
}
.opt-hide {
  display: none;
}

.opt-bluesep {
  width: 100%;
  border-bottom: 2px solid #8FB6DF;
  padding: 0px 22px !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 10px 0;
  display: none;
}

.opt-Edit-Button {
  font-size: 12px;
  text-decoration: underline;
  font-weight: bold;
  margin-left: auto;
  cursor: pointer;
}

.opt-5 ._clearfix._sticky {
  top: 0 !important;
}

.opt-nodata-hidden {
  display: none !important;
}

.opt-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  z-index: 9001;
  top: 0px;
}

.opt-modal {
  position: absolute;
  background-color: white;
  width: 80%;
  max-width: 600px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 40px;
}

.opt-modal .opt-modal-header {
  margin-bottom: 24px;
  font-size: 20px;
  font-weight: bold;
  color: #434343;
}

.opt-modal .opt-modal-buttons {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.opt-modal .opt-modal-buttons button {
  width: 100%;
  max-width: 250px;
  font-size: 16px;
  margin: auto;
  background-color: #0263BA;
  color: white;
  border: 2px solid #0263BA;
}

.opt-modal .opt-close {
  position: absolute;
  top: -30px;
  right: 0px;
  width: 20px;
  height: 20px;
  font-size: 20px;
  color: white;
  font-family: 'ProximaNova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: center;
  cursor: pointer;
  padding: 10px;
}

.opt-modal .opt-close:after, .opt-modal .opt-close:before {
  content: "";
  width: 20px;
  height: 2px;
  background: white;
  position: absolute;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  right: 0;
  top: 10px;
}

.opt-modal .opt-close:before {
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}

.opt-modal .opt-modal-buttons button.opt-modal-back-to-cart {
  background-color: white;
  color: #0263BA;
}

.opt-5.opt-initial-for-deliverymethod .opt-step-container.opt-initial .opt-DeliveryMethod-Cont, .opt-5.opt-initial-for-deliverymethod .opt-step-container.opt-initial:not(#opt-account) .opt-a-Edit {
  display: none;
}

.opt-5 .opt-tnc-message {
  font-size: 12px;
  margin-top: 5px;
}

.opt-5 .opt-tnc-message a {
  text-decoration: underline;
}

/** General Layout and Styling **/

.opt-5 .checkout-shipping-address {
  display: block !important;
}

.opt-5 .page-main>.columns {
  max-width: 1080px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  padding-top: 40px;
}

.opt-5 .page-wrapper {
  padding-top: 163px !important;
}

.opt-5 .page-main>.columns:after {
  content: none;
}

.opt-5 .main-wrapper {
  background: white;
  border-color: white;
  border-left: 0;
  border-right: 0;
  width: 580px;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  border-top: 0;
}

.opt-5 .opc-wrapper .step-content {
  margin-bottom: 0;
}

.opt-5.checkout-index-index .column.main {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

.opt-5.checkout-index-index .sidebar .checkout-container, .opt-5.checkout-index-index .sidebar .secure-pay-wrapper {
  max-width: initial;
  width: 100%;
}

.opt-5.checkout-index-index .checkout-summary .product-item.-highlited {
  border: 1px solid red !important;
  background: white;
}

.opt-5.checkout-index-index .checkout-summary .product-item.-highlited {
  margin-bottom: -1px;
}

.opt-5.checkout-index-index .checkout-summary .product-item.-highlited~.product-item:not(.-highlited) {
  margin-top: 10px;
}

.opt-5 .checkout-container #opc-sidebar {
  max-width: initial;
  float: none;
}

.opt-5 .opc-progress-bar {
  display: none;
}

.opt-5 .page-title {
  display: none;
}

.opt-5 .column.main>#checkout>.modal-custom.opc-sidebar {
  display: none;
}

.opt-5 .checkout-sidebar .place-order-container {
  display: none;
}

.opt-5 #opt-payment:not(.opt-initial)>.checkout-payment-method {
  display: block !important;
}

.opt-5 .page.messages .message {
  display: block;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}

.opt-5 .message.info {
  background: white;
  color: #0063ba;
  border: 1px solid #0063ba;
  margin-bottom: 20px;
}

.opt-5 .message.error {
  margin: 0;
  margin-bottom: 20px;
  border: 1px solid #E02E2B;
  background: white;
  color: #E02E2B;
}

html:not(.mobile) .opt-5.checkout-index-index .fieldset.address .field[name="shippingAddress.region_id"],
html:not(.mobile) .opt-5.checkout-index-index .fieldset.address .field[name="billingAddressbraintree.region_id"],
html:not(.mobile) .opt-5.checkout-index-index .fieldset.address .field[name="billingAddressafterpaypayovertime.region_id"] {
  padding-right: 0;
  float: right;
  clear: initial;
}

html:not(.mobile) .opt-5.checkout-index-index .fieldset.address .field[name="shippingAddress.postcode"],
html:not(.mobile) .opt-5.checkout-index-index .fieldset.address .field[name="billingAddressbraintree.postcode"],
html:not(.mobile) .opt-5.checkout-index-index .fieldset.address .field[name="billingAddressafterpaypayovertime.postcode"] {
  padding-left: 0;
  float: left;
  padding-right: 9px;
}

.opt-5 .filled:not(._error) .input-text[aria-invalid="false"]:not(:focus), .opt-5 .filled:not(._error)[name="shippingAddress.street.0"] .input-text:not(:focus) {
  background-image: url(//cdn.optimizely.com/img/6092490016/a49c2b7d20a24f809ecfd75074e1e22f.png) !important;
  -webkit-background-size: 12px 12px !important;
  background-size: 12px 12px !important;
  background-repeat: no-repeat !important;
  background-position: right 20px center !important;
}

.opt-5 ._error .input-text[aria-invalid="true"], .opt-5 ._error .input-text {
  background-image: url(//cdn.optimizely.com/img/6092490016/ac173ad1b6cc40de937f25b3f51d7989.png) !important;
  -webkit-background-size: 12px 12px !important;
  background-size: 12px 12px !important;
  background-repeat: no-repeat !important;
  background-position: right 20px center !important;
}

/* .opt-5 .billing-address-same-as-shipping-block {
  display: none;
} */

/** DESKTOP CSS */

/** Header **/

.opt-5 .nav-sections {
  display: none;
}

.opt-5 .header .header-item.minicart {
  display: none;
}

.opt-5 .page-header .header.content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  max-width: 1440px;
}

.opt-5 .header>.logo {
  margin: 0 auto;
}

.opt-5 .opt-back-link {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: #0263BA;
  font-family: 'ProximaNova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 19px;
  padding-left: 22px;
  margin-left: 30px;
}

.opt-5 .opt-back-link img {
  display: none;
}

.opt-5 .opt-back-link a:after {
  content: '';
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI5LjYwMyIgaGVpZ2h0PSI1LjkyMiIgdmlld0JveD0iMCAwIDkuNjAzIDUuOTIyIj48cGF0aCBmaWxsPSIjMDA2M0JBIiBkPSJNOS42MDMgMS4xMjFMOC40ODEgMGwtMy42OCAzLjY4TDEuMTIyIDAgMCAxLjEyMWw0LjgwMSA0LjgwMXoiLz48L3N2Zz4=);
  -webkit-background-size: 15px 15px;
  background-size: 15px;
  background-position: center center;
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  left: -12px;
  top: 0;
  margin-top: -2px;
  background-repeat: no-repeat;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg)
}

.opt-5 .fieldset .field select {
  background-size: 15px;
}

/** Benefit Bar **/

.opt-5 .opt-benefit {
  width: 100%;
  background: #8FB6DF;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: white;
  color: #FFFFFF;
  font-size: 15px;
  font-weight: 600;
  line-height: 15px;
  padding: 9px 0;
  text-transform: uppercase;
  text-align: center;
}

.opt-5 .opt-benefit p {
  margin-bottom: 0;
}

/** Sidebar **/

.opt-5 .sidebar {
  background: white;
  width: 440px;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

.opt-5 .checkout-container .opc-sidebar {
  padding: 45px 40px 30px 40px;
  border: 1px solid rgba(151, 151, 151, 0.11);
}

.opt-5 .checkout-container .checkout-summary {
  margin-top: 0;
}

.opt-5 .checkout-container .checkout-summary>.items>.title {
  display: none;
}

.opt-5 .checkout-container .checkout-summary>.items .opt-sidebar-header {
  border-bottom: 0.5px solid #E5E5E5;
  padding-bottom: 20px;
}

.opt-5 .checkout-container .checkout-summary>.items .opt-title {
  font-size: 18px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.opt-5 .checkout-container .checkout-summary>.items .opt-title span {
  line-height: 1;
}

.opt-5 .checkout-container .checkout-summary>.items .opt-title a {
  font-size: 12px;
  text-decoration: underline;
}

.opt-5.checkout-index-index .checkout-summary .product-item {
  border-bottom: 0.5px solid #E5E5E5;
  margin-bottom: 10px;
}

.opt-5.checkout-index-index .checkout-summary .product-item:last-child {
  margin-bottom: 0;
}

.opt-5 .checkout-container .product-item>.image {
  width: 110px;
}

.opt-5 .checkout-container .product-item>.details {
  margin-left: 110px;
}

.opt-5 .checkout-container .product-item>.details>.name {
  font-weight: 600;
  font-size: 14px;
}

.opt-5 .checkout-container .product-item>.details .label.qty {
  margin-bottom: 10px;
}

.opt-5 .checkout-container .product-item>.details .label.qty span {
  font-weight: bold;
}

.opt-5 .checkout-container .options-list .item {
  line-height: 18px;
}

.opt-5 .checkout-container .product-item>.details>.options-list {
  font-size: 12px;
}

.opt-5 .checkout-container .options-list>.item>.label {
  font-weight: bold;
  font-size: 12px;
}

.opt-5 .price-including-tax .price, .opt-5 .price-excluding-tax .price {
  font-size: 12px;
  font-weight: 400;
}

.opt-5.checkout-index-index .checkout-summary .product-item .details .delivery-info {
  width: 100%;
  padding-top: 1px;
  clear: initial;
}

.opt-5.checkout-index-index .checkout-summary .product-item .details .delivery-info .link {
  color: #434343;
}

.opt-5 .checkout-container .checkout-summary>.items {
  margin-bottom: 0;
  padding-bottom: 0;
}

/** Totals Area **/

.opt-5 .checkout-container .table-totals .mark {
  text-align: left;
  padding: 5px 0;
  font-weight: 100;
  font-size: 14px;
}

.opt-5 .checkout-container .table-totals .amount {
  padding: 5px 0;
  font-size: 14px;
}

.opt-5 .checkout-container .table-totals .shipping .mark span {
  font-weight: 100;
  font-size: 14px;
}

.opt-5 .checkout-container .table-totals .grand .mark strong {
  font-size: 14px;
}

.opt-5.checkout-index-index .secure-pay-wrapper .info-block .block-title {
  display: none;
}

.opt-5.checkout-index-index .secure-pay-wrapper .info-block img {
  width: 100%;
  max-width: 300px;
}

.opt-5.checkout-index-index .secure-pay-wrapper .trust-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: center;
}

.opt-5.checkout-index-index .secure-pay-wrapper .trust-block>img {
  width: 90px;
}

.opt-5.checkout-index-index .secure-pay-wrapper .trust-block>.trust-label {
  margin: 0;
}

.checkout-index-index .secure-pay-wrapper .trust-block p {
  margin-top: 20px;
}

/** FORM **/

.opt-5 .opc-wrapper .step-title {
  display: none;
}

.opt-5 .opt-step-container .opt-form-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.opt-5 .opt-step-container:not(#opt-payment) .opt-form-title {
  margin-bottom: 20px;
}

.opt-5.checkout-index-index .fieldset.address .field {
  margin-bottom: 10px;
}

.fieldset .field.required>.label:after, .fieldset>.fields>.field.required>.label:after, .fieldset .field._required>.label:after, .fieldset>.fields>.field._required>.label:after, .delivery-block .field.required>.label:after, .delivery-block .field._required>.label:after, .shipping-availability .field.required>.label:after, .shipping-availability .field._required>.label:after {
  display: none;
}

.opt-5 .opt-step-container .opt-form-title .opt-step-number {
  height: 33px;
  width: 33px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #0263BA;
  border: 1px solid #0263BA;
  border-radius: 50%;
  font-weight: bold;
  font-size: 20px;
}

.opt-5 .opt-step-container .opt-form-title .opt-title {
  font-size: 18px;
  margin-left: 18px;
}

.opt-5 .opt-step-container {
  padding: 40px 40px 35px 40px;
  background-color: #E5EFF8;
  margin-bottom: 20px;
}

.opt-5 .opc-wrapper .fieldset .field:not(.choice)>.label, .opt-5 .opc-wrapper .delivery-block .field:not(.choice)>.label, .opt-5 .opc-wrapper .shipping-availability .field:not(.choice)>.label {
  color: #434343;
  font-size: 14px;
  line-height: 17px;
  font-weight: normal;
  font-family: 'ProximaNova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: initial;
}

.opt-5 div.mage-error[generated] {
  font-family: 'ProximaNova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  text-transform: initial;
  text-align: right;
}

.opt-5 div.mage-error[generated]:before {
  display: none;
}

.opt-5 .fieldset .field.custom input, .opt-5 .delivery-block .field.custom input, .opt-5 .shipping-availability .field.custom input, .opt-5 .fieldset .field select, .opt-5 .delivery-block .field select, .opt-5 .shipping-availability .field select {
  border: none;
  border-bottom: 2px solid #77ACDA;
}

.opt-5 .field._error .control input, .opt-5 .field._error .control select, .opt-5 .field._error .control textarea {
  border: none;
  border-bottom: 2px solid #E02E2B;
}

.opt-5 .fieldset .field.filled>.label, .opt-5 .delivery-block .field.filled>.label, .opt-5 .shipping-availability .field.filled>.label, .opt-5 .fieldset .field.filled>.label, .opt-5 .delivery-block .field.filled>.label, .opt-5 .shipping-availability .field.filled>.label {
  display: none;
}

/** Initial state Styling **/

/** General **/

.opt-5 .opt-step-container.opt-initial {
  background: white;
  border: 1px solid rgba(151, 151, 151, 0.11);
}

.opt-5 .opt-step-container.opt-initial form {
  display: none;
}

.opt-5 .opt-step-container.opt-initial .opt-form-title {
  margin: 0 !important;
}

.opt-5 .opt-step-container:not(.opt-initial) .opt-Edit-Button, .opt-5.opt-initial-for-edit .opt-step-container .opt-Edit-Button, .opt-5.opt-initial-for-deliverymethod .opt-step-container#opt-delivery.opt-initial .opt-Edit-Button {
  display: none;
}

.opt-5 .opt-step-container .opt-Edit-Button, .opt-5:not(.opt-loggedin) #opt-account.opt-step-container.opt-initial .opt-Edit-Button, .opt-5:not(.opt-initial-for-deliverymethod) .opt-step-container#opt-delivery.opt-initial .opt-Edit-Button, .opt-5.opt-initial-for-deliverymethod .opt-step-container#opt-delivery.opt-initial .opt-a-Edit {
  display: block;
}

/** Initial state Details **/

.opt-5 .opt-step-container.opt-initial .newsletter-signup {
  display: none;
}

.opt-5 .opt-step-container.opt-initial .opt-button {
  display: none;
}

.opt-5 .opt-step-container:not(.opt-initial) .opt-initialemail {
  display: none;
}

.opt-5 .opt-step-container.opt-initial .opt-initialemail {
  display: block;
  margin-top: 20px;
  color: #434343;
}

/** Initial state Delivery **/

.opt-5 .opt-step-container.opt-initial#opt-delivery {
  border-bottom: 0;
  padding-bottom: 1px;
}

.opt-5 .opt-step-container.opt-initial#opt-deliveryNote {
  border-top: 0;
  padding-top: 1px;
}

.opt-5 .opt-step-container:not(.opt-initial)#opt-deliveryNote #opc-delivery_notes {
  display: block !important;
}

.opt-5 .opt-step-container.opt-initial#opt-deliveryNote li, .opt-5 .opt-step-container.opt-initial#opt-deliveryNote .opt-button {
  display: none !important;
}

.opt-5 .opt-step-container:not(.opt-initial) .opt-initialdetails {
  display: none;
}

.opt-5 .opt-step-container .opt-initialdetails p {
  margin-bottom: 0;
}

.opt-5 .opt-step-container:not(.opt-initial) .opt-show {
  display: none;
}

.opt-5 .opt-step-container.opt-initial .opt-show {
  display: block;
}

.opt-5 .opt-step-container.opt-initial .opt-DeliveryMethod-Cont, .opt-5 .opt-step-container.opt-initial .opt-DeliveryNote-Cont {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.opt-5 .opt-step-container.opt-initial .opt-DeliveryNote-Cont:not(.opt-showDeliveryNote) {
  display: none;
}

.opt-5 .opt-step-container.opt-initial .opt-DeliveryNote-Cont {
  margin-top: 10px;
}

.opt-5 .opt-step-container.opt-initial .opt-DeliveryNote-Cont p {
  margin-bottom: 0;
}

.opt-5 .opt-step-container.opt-initial .opt-delivery-container, .opt-5 .opt-step-container.opt-initial .opt-deliverynote-container {
  margin-left: 5px;
  margin-top: 1px;
}

.opt-5 .opt-step-container.opt-initial .opt-initialdetails {
  display: block;
  margin-top: 20px;
  color: #434343;
}

.opt-5 .opt-step-container.opt-initial#opt-delivery .opt-DeliveryMethod-Cont #opt-DeliveryMethod-Edit, .opt-5 .opt-step-container.opt-initial#opt-delivery .opt-DeliveryMethod-Cont .opt-heading {
  display: none;
}

/** Account **/

.opt-5 #opt-account .facebook {
  display: none;
}

.opt-5 .field-tooltip .field-tooltip-action {
  display: none;
}

.opt-5 .opt-signin-cont {
  font-size: 12px;
  line-height: 14px;
  color: #434343;
}

.opt-5 .opt-signin-cont a {
  font-size: 12px;
  text-decoration: underline;
  font-weight: bold;
}

.opt-5 #opt-account .opt-form-toggle p {
  font-size: 13px;
  margin-bottom: 10px;
  cursor: pointer;
}

.opt-5 #opt-account .opt-underline.opt-link-text {
  text-decoration: underline;
  font-weight: bold;
}

.opt-5.opt-showloginstate #opt-account .opt-note {
  display: none;
}

.opt-5.opt-showloginstate #opt-account #customer-email-fieldset {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.opt-5 .opt-initial .opt-form-toggle {
  display: none;
}

.opt-5.opt-showloginstate #opt-account #customer-email-fieldset.fieldset:after, .opt-5.opt-showloginstate #opt-account #customer-email-fieldset.fieldset:before {
  display: none;
}

.opt-5.opt-showloginstate #opt-account #customer-email-fieldset>.field {
  width: 47.5%;
}

.opt-5.opt-showloginstate #opt-account #customer-email-fieldset .fieldset {
  display: block !important;
  width: 47.5%;
}

.opt-5.opt-showloginstate #opt-account #customer-email-fieldset .field {
  margin-bottom: 0;
}

.opt-5.opt-showloginstate #opt-account #customer-email-fieldset .fieldset .actions-toolbar .primary {
  display: none;
}

.opt-5.opt-showloginstate #opt-account #customer-email-fieldset .fieldset .actions-toolbar .secondary {
  float: right;
  font-size: 12px;
  width: 100%;
  padding-right: 0;
}

.opt-5.opt-showloginstate #opt-account #customer-email-fieldset .fieldset .actions-toolbar .secondary .action {
  line-height: 40px;
}

.opt-5.opt-showloginstate #opt-account #customer-email-fieldset .note-logged {
  display: none;
}

.opt-5 .opc-wrapper #opt-account .field.newsletter-signup {
  margin-bottom: 0;
}

.opt-5 #customer-email-fieldset .fieldset {
  display: none !important;
}

.opt-5 #customer-email-fieldset>div.field.required.custom.ready>div>span.note {
  display: none !important;
}

.opt-5 .opt-note {
  color: #434343;
  font-size: 12px;
  line-height: 14px;
  margin-top: 10px;
}

.opt-5 .checkout-container .newsletter-signup .label {
  font-size: 12px;
  position: relative;
  padding-left: 35px;
}

.opt-5 .checkout-container .newsletter-signup input {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.opt-5 .opc-wrapper #opt-account .field.newsletter-signup label:before {
  width: 25px;
  height: 25px;
  margin-top: -18px;
  top: 12.5px;
  position: absolute;
  left: 0;
  box-sizing: border-box;
  content: "";
  background: white;
  border: 1px solid #CFCFCF;
}

.opt-5 .opc-wrapper #opt-account .field.newsletter-signup input[type="checkbox"]:checked+label:after {
  width: 25px;
  height: 25px;
  margin-top: -12.5px;
  top: 7.5px;
  position: absolute;
  left: 0;
  box-sizing: border-box;
  content: "";
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI3Ljg1IiBoZWlnaHQ9IjYuMzUiIHZpZXdCb3g9IjAgMCA3Ljg1IDYuMzUiPjxwYXRoIGZpbGw9IiMwMDYzQkEiIGQ9Ik02LjQxIDBMMi45NCAzLjUgMS40MSAyIDAgMy40MWwyLjkxIDIuOTQgNC45NC00Ljk0TDYuNDEgMCIvPjwvc3ZnPg==);
  background-size: 21px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.opt-5 #opt-account .button.action.action-show-popup.greyed.large {
  display: none;
}

.opt-5.opt-loggedin .opt-Edit-Button {
  display: none;
}

/** Delivery **/

.field[name="shippingAddress.country_id"], .phone-region {
  display: none !important;
}

.opt-5.checkout-index-index .fieldset.address .field.phone-region+.field[name$="telephone"] {
  width: 100%;
  padding-left: 0;
}

.opt-5 .opt-step-container#opt-delivery {
  margin-bottom: 0;
  padding-bottom: 1px;
}

.opt-5 .opt-step-container#opt-deliveryNote {
  padding-top: 0;
}

.opt-5 .opc-wrapper .fieldset>.authoritytoleave-checkbox>.label {
  padding-left: 0;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 15px;
}

.mobile .opt-5 .opc-wrapper .fieldset>.authoritytoleave-checkbox>.label {
  position: static;
}

.opt-5 .opc-wrapper .fieldset>.authoritytoleave-checkbox>.label:after, .opt-5 .opc-wrapper .fieldset>.authoritytoleave-checkbox>.label:before {
  margin-top: initial !important;
  top: initial !important;
  bottom: -3px;
}

.opt-5 .opc-wrapper .fieldset>.authoritytoleave-checkbox>.label:after {
  -webkit-background-size: 15px;
  background-size: 15px;
}

.mobile .opt-5 .opc-wrapper .fieldset>.authoritytoleave-checkbox>.label:after, .mobile .opt-5 .opc-wrapper .fieldset>.authoritytoleave-checkbox>.label:before {
  bottom: 5px;
}

.opt-5 .opc-wrapper .fieldset>.authoritytoleave-checkbox>.label:before {
  background: white;
}

.opt-5 .field[name="shippingAddress.telephone"] ._with-tooltip>small:not(.opt-textright) {
  display: none;
}

.opt-5 .field[name="shippingAddress.telephone"] ._with-tooltip>small.opt-textright {
  margin-top: 10px;
}

.opt-5 .field[name="shippingAddress.street.1"], .opt-5 .field[name="billingAddressafterpaypayovertime.street.0"], .opt-5 .field[name="billingAddressbraintree.street.1"] {
  display: none;
}

.opt-5 .field[name="shippingAddress.street.0"], .opt-5 .field[name="billingAddressbraintree.street.0"] {
  margin-bottom: 0 !important;
}

.opt-5 .opt-delivering {
  font-size: 12px;
  margin-bottom: 10px;
}

.opt-5 .opt-delivering a {
  font-weight: bold;
}

.opt-5 .opt-DeliveryMethod-Cont {
  margin-top: 20px;
}

.opt-5 .opt-DeliveryMethod-Cont .opt-heading {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 14px;
  font-weight: bold;
}

.opt-5 .opt-DeliveryMethod-Cont #opt-DeliveryMethod-Edit {
  text-decoration: underline;
  font-size: 12px;
  cursor: pointer;
}

.opt-5 .opt-DeliveryMethod-Cont p {
  margin: 0;
  font-size: 14px;
  margin-top: 5px;
  color: #434343;
}

.opt-5 .opt-DeliveryMethod-Cont p:first-child {
  margin-top: 0;
}

.opt-5 .opt-DeliveryMethod-Cont p:last-child {
  margin-bottom: 20px;
}

.opt-5 .opt-initial .opt-DeliveryMethod-Cont p:last-child {
  margin-bottom: 0;
}

/** Logged In Delivery **/

.opt-5.opt-loggedin-delivery .opc-wrapper .shipping-address-item {
  width: 100%;
  background: white;
  border: 1px solid #CFCFCF;
  min-height: initial;
  font-size: 12px;
  position: relative;
  padding: 14px;
  padding-left: 65px;
  cursor: pointer;
}

.opt-5.opt-loggedin-delivery .opc-wrapper .shipping-address-item:nth-of-type(1) {
  margin-top: 20px;
}

.opt-5.opt-loggedin-delivery .opc-wrapper .shipping-address-items label {
  display: none;
}

.opt-5.opt-loggedin-delivery .opc-wrapper .shipping-address-item .action-select-shipping-item {
  display: none;
}

.opt-5.opt-loggedin-delivery .opc-wrapper .shipping-address-item br:not(:nth-last-child(3)) {
  display: none;
}

.opt-5.opt-loggedin-delivery .opc-wrapper .shipping-address-item br:nth-of-type(1) {
  display: block;
}

.opt-5.opt-loggedin-delivery .opc-wrapper .shipping-address-item.selected-item:after, .opt-5.opt-loggedin-delivery .opc-wrapper .shipping-address-item:before {
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  content: "";
  display: block;
}

.opt-5.opt-loggedin-delivery .opc-wrapper .shipping-address-item:before {
  width: 25px;
  height: 25px;
  left: 20px;
  top: 50%;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  content: "";
  background: white;
  border: 1px solid #c7c7c7 !important;
  width: 20px !important;
  height: 20px !important;
}

.opt-5.opt-loggedin-delivery .opc-wrapper .shipping-address-item.selected-item:before {
  border-color: #0063ba !important;
}

.opt-5.opt-loggedin-delivery .opc-wrapper .shipping-address-item.selected-item:after {
  margin-top: 0px;
  position: absolute;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  content: "";
  left: 25px;
  width: 10px !important;
  height: 10px !important;
  background: none;
  background-color: #0063ba;
}

.opt-5.opt-loggedin-delivery .opt-deliver-to-text {
  font-size: 14px;
}

.opt-5.opt-loggedin-delivery .opt-add-new-address {
  font-size: 12px;
  font-weight: bold;
  text-align: right;
  text-decoration: underline;
  cursor: pointer;
}

.opt-5.opt-loggedin-delivery .edit-address-link {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.opt-5.opt-loggedin-delivery #opt-delivery.opt-initial .opt-deliver-to-text, .opt-5.opt-loggedin-delivery #opt-delivery.opt-initial .opt-add-new-address, .opt-5.opt-loggedin-delivery #opt-delivery.opt-initial .edit-address-link, .opt-5.opt-loggedin-delivery .opc-wrapper #opt-delivery.opt-initial .shipping-address-item.selected-item:after, .opt-5.opt-loggedin-delivery .opc-wrapper #opt-delivery.opt-initial .shipping-address-item:before {
  display: none;
}

.opt-5.opt-loggedin-delivery #opt-delivery.opt-initial .shipping-address-item:not(.selected-item) {
  display: none;
}

.opt-5.opt-loggedin-delivery .opc-wrapper #opt-delivery.opt-initial .shipping-address-item {
  padding-left: 0;
  font-size: 14px;
  border: none;
  margin-top: 0;
  padding-bottom: 0;
}

.opt-5.opt-loggedin-delivery .opc-wrapper #opt-delivery .shipping-address-item br:nth-of-type(4) {
  display: block !important;
}

.opt-5.opt-loggedin-delivery .opc-wrapper #opt-delivery.opt-initial .field.addresses {
  margin-bottom: 0;
}

.opt-5 .postcode-change-container .message-container.warning {
  background: none;
  color: #E02E2B;
  font-family: 'ProximaNova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: initial;
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
  padding: 0;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0;
}

.opt-5 .postcode-change-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 10px;
}

.opt-5 .postcode-change-container .actions {
  height: 50px !important;
  margin: 0 !important;
}

.opt-5 .postcode-change-container button {
  width: 110px;
  border: 1px solid #E02E2B;
  color: #E02E2B;
  height: 50px !important;
  padding: 0 10px;
}

.opt-5 .postcode-change-container button:hover, .opt-5 .postcode-change-container button:active {
  background: #E02E2B;
  color: white;
}

.opt-5 .opc-wrapper .edit-address-link>.svg-icon-edit {
  width: 15px;
}

/** Logged in Delivery Modal **/

.opt-5.opt-modal-open._has-modal .opt-add-new-address {
  display: none;
}

.opt-5.opt-modal-open._has-modal {
  overflow: initial;
   position: relative;
}

.opt-5.opt-modal-open.checkout-index-index #opt-delivery .modal-slide, .opt-5.opt-modal-open.checkout-index-index #opt-delivery .modal-popup {
  position: static;
  padding-top: 20px;
}

.opt-5.checkout-index-index .opt-initial #opt-delivery .modal-popup, .opt-5.checkout-index-index:not(.opt-modal-open) #opt-delivery .modal-popup, .opt-5.checkout-index-index:not(._has-modal) #opt-delivery .modal-popup {
  display: none;
}

.opt-5.opt-modal-open.checkout-index-index #opt-delivery .modal-popup .modal-inner-wrap {
  width: initial;
  margin: 0;
  left: 0;
  position: static;
}

.opt-5.opt-modal-open.checkout-index-index .modals-overlay {
  display: none;
}

.opt-5.opt-modal-open.checkout-index-index #opt-delivery .modal-slide .modal-inner-wrap, .opt-5.opt-modal-open.checkout-index-index #opt-delivery .modal-popup .modal-inner-wrap {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #E5EFF8;
  -webkit-transition: none;
  transition: none;
}

.opt-5.opt-modal-open.checkout-index-index #opt-delivery .modal-popup .modal-header {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  position: relative;
}

.opt-5.opt-modal-open.checkout-index-index #opt-delivery .modal-popup .modal-header .action-close {
  background: none;
  width: initial;
  top: 0px;
  right: 0px;
}

.opt-5.opt-modal-open.checkout-index-index #opt-delivery .modal-popup .modal-header .action-close:hover {
  color: #0063ba;
}

.opt-5.opt-modal-open.checkout-index-index #opt-delivery .modal-popup .modal-header .action-close:after {
  content: "Close";
  text-transform: initial;
  font-weight: bold;
  font-size: 12px;
  text-decoration: underline;
}

.opt-5.opt-modal-open.checkout-index-index #opt-delivery .modal-popup .modal-title {
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  padding-bottom: 0;
  font-family: 'ProximaNova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.opt-5.opt-modal-open.checkout-index-index #opt-delivery .modal-popup .modal-content {
  padding: 0;
}

.opt-5.opt-modal-open.checkout-index-index #opt-delivery .modal-popup .modal-footer {
  padding: 0;
  text-align: left;
}

.opt-5.opt-modal-open.checkout-index-index #opt-delivery .modal-popup .modal-footer button {
  float: none;
  margin-left: 0;
}

.opt-5.opt-modal-open.checkout-index-index #opt-delivery .modal-popup .modal-footer button:nth-of-type(2) {
  font-size: 14px;
  margin-left: 10px;
  text-transform: initial;
}

.opt-5.opt-modal-open.checkout-index-index #opt-delivery .modal-popup .form-shipping-address .label[for="shipping-save-in-address-book"] {
  font-size: 14px;
  font-weight: initial;
  padding-bottom: 0;
  font-family: 'ProximaNova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/** PAYMENT SECTION **/

.opt-5 .checkout-payment-method .discount-code._collapsible .payment-option-title, .opt-5 .checkout-payment-method .giftcardaccount._collapsible .payment-option-title, .opt-5 .paypal-review.view .discount-code._collapsible .payment-option-title, .opt-5 .paypal-review.view .giftcardaccount._collapsible .payment-option-title {
  display: none;
}

.opt-5 .opt-open.opt-giftCardSection {
  padding: 17px 22px;
  background: white;
}

.opt-5 .opt-giftCardSection {
  padding: 17px 22px;
  border: 1px solid white;
  background: none;
  margin-bottom: 20px;
}

.opt-5 .opc-wrapper .fieldset .opt-billing-toggle-cont .field:not(.choice)>.label {
  line-height: 25px;
}

.opt-5 .opc-wrapper .fieldset .opt-billingaddresstoggle .opt-billing-header .opt-title {
  font-size: 14px;
  font-weight: bold;
}

.opt-5 .opc-wrapper .fieldset .opt-billing-toggle-cont .field {
  margin-bottom: 0px;
}

.opt-5 .opt-giftCardSection .opt-giftTitle {
  margin-bottom: 0;
  cursor: pointer;
  position: relative;
}

.opt-5 .opt-giftCardSection .opt-giftTitle:after {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI5LjYwMyIgaGVpZ2h0PSI1LjkyMiIgdmlld0JveD0iMCAwIDkuNjAzIDUuOTIyIj48cGF0aCBmaWxsPSIjMDA2M0JBIiBkPSJNOS42MDMgMS4xMjFMOC40ODEgMGwtMy42OCAzLjY4TDEuMTIyIDAgMCAxLjEyMWw0LjgwMSA0LjgwMXoiLz48L3N2Zz4=);
  -webkit-background-size: 15px 15px;
  background-size: 15px 15px;
  background-position: center center;
  content: "";
  width: 30px;
  height: 25px;
  position: absolute;
  right: -15px;
  top: 0;
  background-repeat: no-repeat;
}

.opt-5 .opt-open.opt-giftCardSection .opt-giftTitle:after {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.opt-5 .opt-open .opt-giftTitle {
  font-weight: bold;
  margin-bottom: 5px;
}

.opt-5 .checkout-payment-method .giftcardaccount, .opt-5 .checkout-payment-method .discount-code {
  margin-bottom: 0;
  padding: 0;
  background: white;
}

.opt-5 .checkout-payment-method .discount-code .gift-hint, .opt-5 .checkout-payment-method .giftcardaccount .gift-hint, .opt-5 .paypal-review.view .discount-code .gift-hint, .opt-5 .paypal-review.view .giftcardaccount .gift-hint {
  margin-bottom: 0;
  font-size: 14px;
  border-bottom: 0;
  padding-bottom: 0;
}

.opt-5 .checkout-payment-method .discount-code .gift-hint {
  margin-top: 20px;
  margin-bottom: 10px;
}

.opt-5 .checkout-payment-method .giftcardaccount .gift-hint {
  margin-top: 10px;
}

.opt-5 .checkout-payment-method .discount-code>.payment-option-content>.form .input-text, .opt-5 .checkout-payment-method .giftcardaccount>.payment-option-content>.form .input-text, .opt-5 .paypal-review.view .discount-code>.payment-option-content>.form .input-text, .opt-5 .paypal-review.view .giftcardaccount>.payment-option-content>.form .input-text {
  border: 1px solid #CFCFCF;
}

.opt-5 .checkout-payment-method .discount-code .detail-label:first-child, .opt-5 .checkout-payment-method .giftcardaccount .detail-label:first-child, .opt-5 .paypal-review.view .discount-code .detail-label:first-child, .opt-5 .paypal-review.view .giftcardaccount .detail-label:first-child {
  display: none;
}

.opt-5 #opt-payment .tooltip.wrapper {
  display: none;
}

.opt-5 #opt-payment .opt-giftCardSection ._left, .opt-5 #opt-payment .opt-giftCardSection ._right {
  float: none !important;
  margin: 0;
  padding: 0;
  min-width: initial;
  width: initial;
  display: block;
  margin-top: 5px;
}

.opt-5 #opt-payment .opt-giftCardSection ._left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.opt-5 #opt-payment .opt-giftCardSection .giftcardaccount ._right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.opt-5 #opt-payment .opt-giftCardSection .giftcardaccount ._right>._right.primary {
  width: 266px;
}

.opt-5 #giftcard-code::-webkit-input-placeholder, .opt-5 #giftcard-pin::-webkit-input-placeholder, .opt-5 #discount-code::-webkit-input-placeholder {
  color: #434343 !important;
}

.opt-5 #giftcard-code::-moz-placeholder, .opt-5 #giftcard-pin::-moz-placeholder, .opt-5 #discount-code::-moz-placeholder {
  color: #434343 !important;
}

.opt-5 #giftcard-code:-ms-input-placeholder, .opt-5 #giftcard-pin:-ms-input-placeholder, .opt-5 #discount-code:-ms-input-placeholder {
  color: #434343 !important;
}

.opt-5 #giftcard-code::placeholder, .opt-5 #giftcard-pin::placeholder, .opt-5 #discount-code::placeholder {
  color: #434343 !important;
}

.opt-5 #giftcard-code {
  width: 266px;
}

.opt-5 #giftcard-pin {
  max-width: 180px;
}

.opt-5 #discount-code {
  width: 100%;
}

.opt-5 .checkout-payment-method .discount-code .actions-toolbar .action, .opt-5 .checkout-payment-method .giftcardaccount .actions-toolbar .action {
  width: 100%;
  margin: 0;
}

.opt-5 #opt-payment .opt-giftCardSection .discount-code ._left .field.custom.ready {
  width: 100%;
}

/*.opt-5.opt-loggedin .checkout-payment-method .payment-method-billing-address .billing-address-details {
   padding-left: 0;
   display: block;
}*/

.opt-5 .actions-toolbar:before, .opt-5 .actions-toolbar:after {
  display: none;
}

.opt-5 .checkout-payment-method .actions-toolbar button.action.primary {
  color: #fff;
  background-color: #0063ba;
}

.opt-5 .checkout-payment-method .actions-toolbar button.action.primary:hover {
  color: #0063ba;
  border-color: #0063ba;
  background-color: white;
}

.opt-5 .checkout-payment-method .discount-code #discount-form .actions-toolbar>.primary {
  width: 266px;
  margin-top: 5px;
}

.opt-5 .opt-open .giftcardaccount .payment-option-content, .opt-5 .opt-open .discount-code .payment-option-content {
  display: block !important;
}

.opt-5 .checkout-payment-method .payment-method-billing-address {
  margin-bottom: 0;
}

.opt-5 .payment-method-billing-address .billing-address-details {
  display: none;
}

.opt-5 .opt-open .opt-bluesep {
  display: block;
}

/** Payment Method **/

.opt-5 .payment-method {
  background: #e3eff9;
  border-bottom: 1px solid white;
  padding: 0 22px;
}

.opt-5 .payment-method._active {
  background: white;
  padding: 17px 22px;
}

.opt-5 .opc-wrapper .payment-method-content .form .fieldset .field:not(.choice)>.label {
  display: none;
}

.opt-5 #credit-card-number {
  display: none;
}

.opt-5 .payment-method>.payment-method-title>label:before, .opt-5 .opc-wrapper .fieldset .opt-billing-toggle-cont .field:not(.choice)>.label:before, .mobile .opt-5 .payment-method>.payment-method-title>.title label:before {
  background: white;
  border-color: #0263BA !important;
  width: 20px !important;
  height: 20px !important;
  margin-top: -12.5px !important;
}

.opt-5 .payment-method>.payment-method-title>label:after, .opt-5 .opc-wrapper .fieldset .opt-billing-toggle-cont .field:not(.choice)>.label:after, .mobile .opt-5 .payment-method>.payment-method-title>.title label:after {
  width: 10px !important;
  height: 10px !important;
  top: 17.5px !important;
  left: 5px !important;
}

.opt-5 .checkout-payment-method .payment-method-content .fieldset>.field {
  margin-bottom: 5px;
}

.opt-5 .checkout-payment-method .payment-method-content #billing-new-address-form.fieldset>.field {
  margin-bottom: 20px;
}

.opt-5 #payment_form_braintree {
  width: 100%;
  position: relative;
}

.opt-5 .payment-method.payment-method-braintree .payment-method-title>.label strong {
  font-weight: normal;
  font-size: 14px;
  margin-left: 10px;
}

.opt-5 .form-braintree #payment_form_braintree .hosted-control {
  border-color: #CFCFCF;
}

.opt-5 #payment_form_braintree>div.field.number:nth-of-type(3), .opt-5 #payment_form_braintree>.field#braintree_cc_type_cvv_div {
  position: absolute;
}

.opt-5 #payment_form_braintree>div.field.number:nth-of-type(3) {
  left: 0;
  width: 266px;
}

.opt-5 #payment_form_braintree>.field#braintree_cc_type_cvv_div {
  width: 180px;
  right: 0;
}

.opt-ccvtooltip {
  display: inline-block;
  text-align: right;
  float: right;
  font-size: 12px;
  color: #434343;
  cursor: pointer;
  z-index: 99;
  position: relative;
}

.opt-5 #braintree_cc_type_cvv_div .hosted-error {
  margin-top: 25px;
  z-index: -1;
}

/** Afterpay **/

.opt-5 label[for="afterpaypayovertime"]>.text {
  font-weight: 400;
  font-size: 14px;
}

.opt-5 .payment-method.afterpay-payment-method .payment-method-title>.payment-method-note {
  display: none;
}

.opt-5 .afterpay-payment-method .afterpay-checkout-note ul {
  padding: 0;
}

.afterpay-payment-method .afterpay-checkout-note {
  background: white;
}

.opt-5 .afterpay-payment-method .afterpay-note-tilte {
  text-align: left;
  font-size: 13px;
  font-family: 'ProximaNova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: capitalize;
  margin: 0;
  margin-top: 10px;
}

.opt-5 .checkout-payment-method .payment-method._active .payment-method-content {
  margin: initial;
}

.opt-5 .afterpay-payment-method .afterpay-checkout-redirect {
  max-width: initial;
  text-align: left;
  font-size: 13px;
  font-family: 'ProximaNova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.opt-5 .afterpay-payment-method .afterpay-checkout-redirect br {
  display: none;
}

.afterpay-payment-method .afterpay-checkout-note .cost li {
  margin-bottom: 2px;
}

.afterpay-payment-method .afterpay-checkout-note ul.instalment li {
  font-size: 12px;
  margin-bottom: 0;
}

/** Paypal **/

.opt-5 .payment-method.item>small {
  display: none !important;
}

.opt-5 .payment-method.item>.payment-method-title .label._left strong {
  font-weight: normal;
  font-size: 14px;
  font-family: 'ProximaNova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: initial;
  margin-left: 10px;
  line-height: 25px;
}

.opt-5 .payment-method.item .types-list>.item {
  max-width: initial;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: -5px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.opt-5 .payment-method.item .types-list>.item img {
  max-width: 100px;
  margin-top: 3px;
}

.opt-5 ._active.payment-method.item .opt-Paypal-message {
  display: block;
}

.opt-5 .payment-method.item .opt-Paypal-message {
  font-size: 14px;
  display: none;
}

/** Shipping Check **/

.opt-5 .billing-address-same-as-shipping-block span {
  font-weight: normal;
  font-size: 14px;
  font-family: 'ProximaNova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.opt-5.opt-loggedin-delivery .checkout-payment-method .payment-method-content .payment-method-billing-address .fieldset>.field {
  margin-bottom: 20px;
}

/**BUTTONS FOR PAYMENT **/

.opt-5 .opt-button .opt-blue-Button {
  max-width: 266px;
  margin-top: 20px;
}

.opt-5 .payment-method:not(._active) .opt-button {
  display: none;
}

@media (max-width: 1125px) {
  .opt-5 .opt-back-link {
     right: 0;
     margin-right: 30px;
  }
  .opt-5 .header>.logo {
     padding-right: 100px;
  }
}

@media (max-width: 1025px) {
  .opt-5 .main-wrapper {
     max-width: 500px;
     padding-left: 10px;
  }
  .opt-5 .sidebar {
     padding-right: 10px;
  }
}

@media (max-width: 1025px) and (min-width: 760px) {
  .opt-5 .postcode-change-container {
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
     -webkit-flex-direction: column;
     -ms-flex-direction: column;
     flex-direction: column;
     -webkit-box-align: center;
     -webkit-align-items: center;
     -ms-flex-align: center;
     align-items: center;
  }
  .opt-5 .postcode-change-container .actions {
     margin-top: 10px !important;
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
     -webkit-flex-direction: column;
     -ms-flex-direction: column;
     flex-direction: column;
     -webkit-box-align: center;
     -webkit-align-items: center;
     -ms-flex-align: center;
     align-items: center;
     -webkit-box-pack: center;
     -webkit-justify-content: center;
     -ms-flex-pack: center;
     justify-content: center;
     height: initial !important;
  }
  .opt-5 .postcode-change-container .actions button {
     display: block;
     margin: 10px 0 0 !important;
     -webkit-box-flex: 1;
     -webkit-flex-grow: 1;
     -ms-flex-positive: 1;
     flex-grow: 1;
     width: 160px;
  }
}

@media (max-width: 968px) {
  .opt-5 .main-wrapper {
     max-width: 450px;
     padding-left: 10px;
  }
  .opt-5 .sidebar {
     padding-right: 10px;
  }
}

@media (max-width: 905px) {
  .opt-5 .checkout-container .opc-sidebar {
     padding: 40px 20px 40px 20px;
  }
  .opt-5 .opt-step-container {
     padding: 40px 20px 40px 20px;
  }
  .opt-5 .main-wrapper {
     max-width: 480px;
     padding-left: 10px;
  }
  .opt-5 .sidebar {
     width: 350px;
  }
}

@media (max-width: 845px) {
  .opt-5 .main-wrapper {
     max-width: 400px;
     padding-left: 10px;
  }
  .opt-5 .sidebar {
     padding-right: 10px;
  }
}

@media only screen and (max-width: 768px) {
  .opt-5 .custom-slide * {
     -webkit-box-shadow: none;
     box-shadow: none;
  }
}

@media (max-width: 760px) {
  .opt-modal .opt-modal-buttons button {
     margin: 0 5px;
  }
  html {
     min-width: initial;
  }
  .opt-5 .checkout-container {
     margin-bottom: 0;
     max-width: initial;
  }
  .opt-5 .main-wrapper {
     max-width: initial;
     width: 100%;
     padding-right: 0;
     padding-left: 0;
     padding-bottom: 0;
     border-bottom: 0;
  }
  .opt-5 .sidebar {
     width: initial;
     padding-left: 0px;
     padding-right: 0px;
  }
  .opt-5 .sidebar .checkout-container {
     border: 1px solid rgba(151, 151, 151, 0.11);
     margin-top: 20px;
     border-left: 0;
     border-right: 0;
     margin-bottom: 20px;
  }
  .opt-5 .opt-step-container.opt-initial#opt-payment {
     margin-bottom: 0;
  }
  /* .opt-5 .payment-method._active.payment-method-braintree {
       padding-bottom: 44px;
   }
   .opt-5 .opt-step-container#opt-payment .opt-button {
       display: none;
   }*/
  .opt-5 .checkout-sidebar .place-order-container {
     display: block;
     max-width: 290px;
     margin: auto;
     margin-top: 20px;
  }
}

@media (max-width: 640px) {
  .opt-5.opt-loggedin-delivery .opc-wrapper .shipping-address-item {
     margin: 0;
     margin-bottom: -1px;
  }
}

@media (max-width: 540px) {
  .opt-5 #payment_form_braintree>div.field.number:nth-of-type(3) {
     width: 60%;
  }
  .opt-5 #payment_form_braintree>.field#braintree_cc_type_cvv_div {
     width: 35%;
  }
  .opt-5 #giftcard-pin {
     margin-left: 5px;
  }
}

@media (max-width: 470px) {
  .opt-modal {
     padding: 20px;
     width: 90%;
  }
  .opt-modal .opt-modal-buttons {
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
     -webkit-flex-direction: column;
     -ms-flex-direction: column;
     flex-direction: column;
     -webkit-box-align: center;
     -webkit-align-items: center;
     -ms-flex-align: center;
     align-items: center;
  }
  .opt-modal .opt-modal-buttons button:nth-of-type(1) {
     margin-bottom: 10px;
  }
}

@media (max-width: 450px) {
  .opt-5 #giftcard-code {
     width: 100%;
     max-width: initial;
  }
  .opt-5 #giftcard-pin {
     width: 100%;
     max-width: initial;
     margin-left: 5px;
  }
  .opt-5 #opt-payment .opt-giftCardSection .giftcardaccount ._right>._right.primary, .opt-5 .checkout-payment-method .discount-code #discount-form .actions-toolbar>.primary {
     width: 50%;
     padding-right: 5px;
  }
  .opt-5 .checkout-payment-method .giftcardaccount .actions-toolbar .action {
     min-width: initial;
  }
  .opt-5 .postcode-change-container {
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
     -webkit-flex-direction: column;
     -ms-flex-direction: column;
     flex-direction: column;
  }
  .opt-5 .postcode-change-container .button {
     margin-top: 5px;
     width: 180px;
  }
  .opt-5 .postcode-change-container .actions {
     margin-top: 10px !important;
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
     -webkit-flex-direction: column;
     -ms-flex-direction: column;
     flex-direction: column;
     -webkit-box-align: center;
     -webkit-align-items: center;
     -ms-flex-align: center;
     align-items: center;
     -webkit-box-pack: center;
     -webkit-justify-content: center;
     -ms-flex-pack: center;
     justify-content: center;
     height: initial !important;
  }
  .opt-5 .postcode-change-container .actions button {
     display: block;
     margin: 10px 0 0 !important;
     -webkit-box-flex: 1;
     -webkit-flex-grow: 1;
     -ms-flex-positive: 1;
     flex-grow: 1;
     width: 160px;
  }
}

/** MOBILE STYLING **/

.mobile .opt-5 .header.trust {
  display: none;
}

.mobile .opt-5 .page-wrapper {
  padding-top: 80px !important;
}

.mobile .opt-5 .page-main {
  margin: 0;
}

.mobile .opt-5 .page-title-wrapper {
  border-bottom: 0;
}

.mobile .opt-5.checkout-index-index .opc-wrapper {
  padding: 0;
}

.mobile .opt-5 .opt-step-container {
  padding: 15px;
  margin-bottom: 10px;
}

/** Mobile Header **/

.mobile .opt-5 .header-item.minicart-wrapper, .mobile .opt-5 .header-item.menu-toggle {
  display: none;
}

.mobile .opt-5 .header>.logo {
  padding: 0;
}

.mobile .opt-5 .opt-back-link {
  left: 0;
}

.mobile .opt-5 .opt-back-link a {
  display: block;
  color: white;
}

.mobile .opt-5 .opt-back-link a:after {
  top: 50%;
  -webkit-transform: translatey(-50%)rotate(90deg);
  -ms-transform: translatey(-50%)rotate(90deg);
  transform: translatey(-50%)rotate(90deg);
  margin-top: 0;
}

.mobile .opt-5 .header>.logo img {
  width: initial;
}

.mobile .opt-5 .opt-benefit {
  font-size: 14px;
}

.mobile .opt-5 .page-main>.columns {
  padding-top: 25px;
}

.mobile .opt-5 .opt-step-container:not(.opt-initial) .opt-deliverynote-container, .opt-5 .opt-step-container:not(.opt-initial) .opt-deliverynote-container {
  display: none;
}

.mobile .opt-5 .opt-step-container.opt-initial .opt-initialemail, .mobile .opt-5 .opt-step-container.opt-initial .opt-initialdetails, .mobile .opt-5 .opt-step-container.opt-initial .opt-delivery-container, .mobile .opt-5 .opt-step-container.opt-initial .opt-deliverynote-container, .mobile .opt-5 .opt-step-container.opt-initial .opt-show, .mobile .opt-5 .opt-DeliveryMethod-Cont p {
  font-size: 12px;
}

.mobile .opt-5 .opt-step-container .opt-form-title .opt-title {
  font-size: 16px;
}

/** Mobile Account **/

.mobile .opt-5 .opc-wrapper #opt-account .field.newsletter-signup {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.mobile .opt-5 .opc-wrapper #opt-account.opt-initial .field.newsletter-signup {
  display: none;
}

/** Mobile Summary **/

.mobile .opt-5 #opt-mobile-summary {
  border: 1px solid rgba(151, 151, 151, 0.11);
  border-left: none;
  border-right: none;
  margin-top: 10px;
  padding: 20px 15px;
}

.mobile .opt-5 #opt-mobile-summary .place-order-container button {
  margin-top: 10px;
}

.mobile .opt-5 .checkout-container .checkout-summary>.items .opt-sidebar-header:nth-of-type(1) {
  border-bottom: none;
}

.mobile .opt-5 .checkout-container .checkout-summary>.items {
  margin-bottom: 10px;
}

/** Mobile Payment **/

.mobile .opt-5.checkout-index-index .promo-gift, .mobile .opt-5 .paypal-review .promo-gift {
  border: 1px solid white;
  padding: 17px 15px;
  margin-top: 20px;
}

.mobile .opt-5.checkout-index-index .promo-gift.active {
  background: white;
}

.mobile .opt-5.checkout-index-index .promo-gift>.content>.block.giftcard .field>.control:first-child {
  margin-right: 0;
}

.mobile .opt-5.checkout-index-index .promo-gift>.title {
  font-weight: bold;
  margin: 0;
  margin-bottom: 10px;
}

.mobile .opt-5.checkout-cart-index .promo-gift>.title, .mobile .opt-5 .paypal-review .promo-gift>.title {
  margin: 0;
  font-weight: normal;
  text-transform: initial;
  font-size: 14px;
}

.mobile .opt-5.checkout-index-index .promo-gift>.content>.text {
  font-size: 12px;
}

.mobile .opt-5.checkout-index-index .promo-gift>.content>.block.discount .label, .mobile .opt-5 .checkout-cart-index .promo-gift>.content>.block.discount .label, .mobile .opt-5 .paypal-review .promo-gift>.content>.block.discount .label, .mobile .opt-5.checkout-index-index .promo-gift>.content>.block.giftcard .label, .mobile .opt-5 .checkout-cart-index .promo-gift>.content>.block.giftcard .label, .mobile .opt-5 .paypal-review .promo-gift>.content>.block.giftcard .label {
  display: none;
}

.mobile .opt-5 .helper_clearfix:after, .mobile .opt-5 ._clearfix:after {
  display: none;
}

.mobile .opt-5.checkout-index-index .promo-gift>.content {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.mobile .opt-5.checkout-index-index .promo-gift>.title {
  text-transform: initial;
  font-weight: normal;
}

.mobile .opt-5.checkout-index-index .promo-gift.active>.title {
  font-weight: bold;
}

.mobile .opt-5.checkout-index-index .promo-gift:not(.active)>.content {
  display: none !important;
}

.mobile .opt-5.checkout-index-index .promo-gift:not(.active)>.title {
  margin: 0;
  text-transform: initial;
  font-weight: normal;
}

.mobile .opt-5.checkout-index-index .promo-gift>.content>.block.discount .field {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.mobile .opt-5 .fieldset .promo-gift .field.custom input {
  border: 1px solid #CFCFCF;
}

.mobile .opt-5 .fieldset .promo-gift .field.custom input::-webkit-input-placeholder {
  color: #CFCFCF !important;
}

.mobile .opt-5 .fieldset .promo-gift .field.custom input::-moz-placeholder {
  color: #CFCFCF !important;
}

.mobile .opt-5 .fieldset .promo-gift .field.custom input:-ms-input-placeholder {
  color: #CFCFCF !important;
}

.mobile .opt-5 .fieldset .promo-gift .field.custom input::placeholder {
  color: #CFCFCF !important;
}

.mobile .opt-5.checkout-index-index .promo-gift>.content>.block.discount .field .control {
  -webkit-box-flex: 1 !important;
  -webkit-flex: 1 !important;
  -ms-flex: 1 !important;
  flex: 1 !important;
  width: 100%;
}

.mobile .opt-5 .promo-gift .content>.block {
  width: 100%;
}

.mobile .opt-5 .payment-method {
  padding: 0 10px;
}

.mobile .opt-5 #giftcard-code {
  width: initial;
}

.mobile .opt-5 .form.giftcard .field:not(.custom) {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.mobile .opt-5 .form.giftcard .field:not(.custom) .control {
  text-align: right;
  margin: 0 !important;
  margin-bottom: 10px !important;
}

.mobile .opt-5 .form.giftcard .field:not(.custom) .control span {
  font-size: 12px;
  font-weight: bold;
  text-transform: initial;
}

.mobile .opt-5.checkout-index-index .promo-gift>.content>.block.giftcard .action.as-link, .mobile .opt-5.checkout-index-index .promo-gift>.content>.block.discount .action.as-link {
  width: 100%;
  color: #fff;
  border-color: #0063ba;
  background-color: #0063ba;
  line-height: 2.3rem;
  padding: 14px 17px;
  font-size: 1.7rem;
  text-decoration: none;
  font-family: 'ProximaNova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.mobile .opt-5 .promo-gift .content>.block {
  margin-bottom: 0 !important;
}

.mobile .opt-5.checkout-index-index .promo-gift>.content>.block.discount .action.as-link {
  margin-top: 10px;
}

.mobile .opt-5 .opt-bluesep {
  display: block;
  border-width: 1px;
  margin: 15px 0;
}

/** Payment Methods **/

.mobile .opt-5 .checkout-payment-method .credit-card-types .item {
  height: 20px;
  margin: 0;
}

.mobile .opt-5 .checkout-payment-method .credit-card-types .item img {
  max-width: 35px;
  width: 100%
}

.mobile .opt-5 .opc-wrapper .fieldset .opt-billing-toggle-cont .field:not(.choice)>.label {
  position: relative;
}

.mobile .opt-5 .checkout-payment-method .payment-method-content #billing-new-address-form.fieldset>.field {
  margin-bottom: 10px;
}

.mobile .opt-5 .afterpay-payment-method .afterpay-note-tilte {
  margin-top: 25px;
}

.mobile .opt-5 .paypal-payment-method {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.mobile .opt-5 .payment-method.paypal-payment-method.item .types-list>.item img {
  max-width: 50px;
}

.mobile .opt-5 .payment-method.paypal-payment-method.item .types-list>.item {
  margin-top: -5px;
}

.mobile .opt-5 .payment-method {
  padding-bottom: 10px;
}

.mobile .secure-pay-wrapper:not(.opt-securePay) {
  display: none;
}

.mobile .secure-pay-wrapper.opt-securePay {
  background: white;
}

.mobile .opt-5.checkout-index-index .checkout-container {
  padding-bottom: 0;
}

.mobile .opt-5 .secure-pay-wrapper .trust-block p {
  display: block;
  font-size: 12px;
  padding: 0 20px;
}

.mobile .opt-5.checkout-index-index .secure-pay-wrapper .trust-block>.trust-label {
  margin-top: 20px;
  font-family: 'ProximaNova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.mobile .opt-5.checkout-index-index .secure-pay-wrapper .info-block {
  margin-bottom: 20px;
}

.mobile .opt-5.ze-fixed .page-footer {
  padding: 0;
  padding-bottom: 20px;
}

.mobile .opt-5 .footer-block .footer-newsletter, .mobile .opt-5 .footer-block .footer-navigation, .mobile .opt-5 .footer-block .paysecure {
  display: none;
}

.mobile .opt-5.ze-fixed .footer.content {
  border-top: 0;
}

.mobile .opt-5.checkout-index-index .checkout-summary .product-item {
  border-bottom: 0;
}

.mobile .opt-5 .opc-wrapper #opt-delivery>.field.addresses {
  margin-bottom: 10px;
}

.mobile .opt-5 .opt-DeliveryMethod-Cont {
  margin-top: 10px;
}