.header * {
    display: none !important;
}

.header .logo, .header .logo * {
    display: block !important;
}

.header .logo {
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
}

.header .logo img {
    margin: auto;
}

.header.trust, .header.search {
    display: none !important;
}